body{
font-family: Tahoma;
background:#f4f6f8;
margin:0;
}
#app{max-width:1000px;margin:auto;padding:20px;}
header{text-align:center;margin-bottom:20px;}
.controls button{
margin:5px;padding:10px 15px;
background:#1e88e5;color:#fff;border:none;border-radius:6px;
cursor:pointer;
}
.card{
background:#fff;padding:15px;border-radius:10px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
margin-bottom:20px;
}
table{width:100%;border-collapse:collapse;}
td,th{border:1px solid #ccc;padding:8px;text-align:center;}
