body{
  padding:25px;
  font-family:'Tajawal', sans-serif;
  background:#f7f8fc;
}
.title{
  color:#5C6AC4;
}
.card{
  background:#fff;
  padding:20px;
  border-radius:10px;
  margin-top:15px;
  box-shadow:0 4px 12px rgba(0,0,0,.08);
}
