
body{
font-family:Tahoma;
direction:rtl;
background:#eef2f3;
padding:20px;
}
h1,h2,h3{color:#1a5276}
#lessonBox{
background:white;
padding:15px;
border-radius:8px;
margin:15px 0;
}
button{
padding:8px 15px;
margin:5px;
cursor:pointer;
}
.record{
background:white;
padding:10px;
margin:8px 0;
border-radius:6px;
}
